/* Write your CSS here */

div {
  background-color: #1e293b;
  min-height: 100vh;
  font-family: 'Bree Serif';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #f0bb03;
  font-size: 60px;
}

p {
  color: #ffffff;
  font-size: 25px;
}

button {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 12px 18px;
  color: #1e293b;
  font-family: 'Bree Serif';
  font-size: 15px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 90px;
  }
  p {
    font-size: 40px;
  }
}
